@model IEnumerable<kuafor.mvc.Models.Service>

<h2>Hizmet Listesi</h2>
<table class="table">
    <thead>
        <tr>
            <th>Hizmet Adı</th>
            <th>Süre</th>
            <th>Ücret</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Name</td>
                <td>@service.Duration</td>
                <td>@service.Price ₺</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@service.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@service.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Yeni Hizmet Ekle</a>
