@model IEnumerable<kuafor.mvc.Models.Employee>

<h2>Çalışan Listesi</h2>
<table class="table">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>Uzmanlık</th>
            <th>Salon</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FullName</td>
                <td>@employee.Expertise</td>
                <td>@employee.Salon.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Yeni Çalışan Ekle</a>
